/*
* @Author: Mengwei Choong
* @Date:   2018-01-23 17:51:13
* @Last Modified by:   Mengwei Choong
* @Last Modified time: 2018-01-24 15:15:47
*/

#intro {
    background: url("/assets/cover.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
