/*
* @Author: Mengwei Choong
* @Date:   2018-01-23 18:07:44
* @Last Modified by:   Mengwei Choong
* @Last Modified time: 2018-01-24 15:20:09
*/

.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
