<!--Footer-->
<footer *ngIf="!isAdmin" class="page-footer center-on-small-only unique-color-dark pt-0">
  <!-- Social buttons -->
  <div class="primary-color">
    <div class="container">
      <!--Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!--Grid column-->
        <div class="col-md-6 col-lg-5">
          <h6 class="mb-0 white-text my-2">Get connected with us on social networks!</h6>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 col-lg-7 text-md-right">
          <!--Facebook-->
          <a class="icons-sm fb-ic"><i class="fa fa-facebook white-text mr-4"> </i></a>
          <!--Twitter-->
          <a class="icons-sm tw-ic"><i class="fa fa-twitter white-text mr-4"> </i></a>
          <!--Google +-->
          <a class="icons-sm gplus-ic"><i class="fa fa-google-plus white-text mr-4"> </i></a>
          <!--Linkedin-->
          <a class="icons-sm li-ic"><i class="fa fa-linkedin white-text mr-4"> </i></a>
          <!--Instagram-->
          <a class="icons-sm ins-ic"><i class="fa fa-instagram white-text mr-4"> </i></a>
        </div>
        <!--Grid column-->

      </div>

      <!--Grid row-->
    </div>
  </div>
  <!-- Social buttons -->
</footer>
